@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cringe.com</h1>
    <p class="lead">The worst site for jokes ever.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click "Jokes" button to find some bad jokes. Please, sorry.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44320/Jokes">Read some &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find some of them.</h2>
        <p>Just try to write some words and you will find the joke about it.</p>
        <p><a class="btn btn-default" href="https://localhost:44320/Jokes/ShowSearchForm">Go find &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Info about me.</h2>
        <p>You can read some info about me, so just go ahead.</p>
        <p><a class="btn btn-default" href="https://localhost:44320/Home/About">Read more &raquo;</a></p>
    </div>
</div>